<!--HEADER-->
<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <div class="container">
        <div class="card">
            <h5 class="card-header">Frequency</h5>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                        One-time
                        </label>
                    </div>
                    <div class="form-text">Book a cleaning for one-time only</div>
                    </div>
                    <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                        Bi-Weekely
                        </label>
                    </div>            
                    <div class="form-text">Book a recurring cleaning with the same professional every two-weeks</div>
                    </div>
                    <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                        Weekly
                        </label>
                    </div>
                    <div class="form-text">Book a recurring cleaning with the same professional every week</div>
                    </div>
                    <a href="#" class="btn btn-primary">Next</a>
                  </form>
            </div>
        </div>
        </div>
    </body>
</html>