<!--HEADER-->
<%- include("partials/header.ejs") %>


<!--CAROUSEL AND LANDING PAGE GREETING-->
<div class="container border border-warning my-2">
    <div class="row text-center">
      <div class="col-md-6 my-2 d-flex flex-column justify-content-center align-items-center">
            <h2>Welcome to RPServices!</h1>
            <h4>The best place to get maids online in India</h4>
            <h6>#1 HOME CLEANING SERVICE</h6>
            <button type="button" class="btn btn-warning">Book Now</button>
      </div>
      <div class="col-md-6 my-2">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/image.jpg" class="d-block w-100" alt="carousel image 1">
            </div>
            <div class="carousel-item">
              <img src="/images/image1.jpg" class="d-block w-100" alt="carousel image 2">
            </div>
            <div class="carousel-item">
              <img src="/images/image2.jpg" class="d-block w-100" alt="carousel image 3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--SERVICES CARDS-->
  <div class="container">
    <div class="card-group">
      <div class="row g-2">

        <div class="col-6 col-md-3">
          <div class="card text-center h-100">
            <img src="/images/deep cleaning.jpg" class="card-img-top" alt="deep cleaning">
            <div class="card-body">
              <h5 class="card-title">Deep Cleaning</h5>
              <p class="card-text">Get your house deep cleaned by the best professionals.</p>
            </div>
            <div class="card-footer">
              <a href="/order" class="btn btn-warning">BOOK NOW</a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card text-center h-100">
            <img src="/images/pest control.jpg" class="card-img-top" alt="pest control">
            <div class="card-body">
              <h5 class="card-title">Pest Control</h5>
              <p class="card-text">Clear your home of unwanted pests.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">BOOK NOW</a>
            </div>
          </div>
        </div>
        
        <div class="col-6 col-md-3">
          <div class="card text-center h-100">
            <img src="/images/sofa cleaning.jpg" class="card-img-top" alt="sofa cleaning">
            <div class="card-body">
              <h5 class="card-title">Sofa Cleaning</h5>
              <p class="card-text">We provide you with the best experts for your furniture.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">BOOK NOW</a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card text-center h-100">
            <img src="/images/mattress cleaning.jpg" class="card-img-top" alt="mattress cleaning">
            <div class="card-body">
              <h5 class="card-title">Mattress Cleaning</h5>
              <p class="card-text">We can clean your mattress too.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">BOOK NOW</a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card text-center h-100">
            <img src="/images/car wash.jpg" class="card-img-top" alt="car wash">
            <div class="card-body">
              <h5 class="card-title">Car Wash</h5>
              <p class="card-text">Get your car washed whenever you want.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">BOOK NOW</a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card text-center h-100">
            <img src="/images/ac cleaning.jpg" class="card-img-top" alt="ac cleaning">
            <div class="card-body">
              <h5 class="card-title">AC Cleaning</h5>
              <p class="card-text">We provide your home with the clean air it deserves.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">BOOK NOW</a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card text-center h-100">
            <img src="/images/laundry.jpg" class="card-img-top" alt="laundry">
            <div class="card-body">
              <h5 class="card-title">Laundry and Dry Cleaning</h5>
              <p class="card-text">Get your laundry picked up and delivered to you at your convenience.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">BOOK NOW</a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card text-center h-100">
            <img src="/images/handyman.jpg" class="card-img-top" alt="handyman">
            <div class="card-body">
              <h5 class="card-title">Handyman and Maintenance</h5>
              <p class="card-text">Get a professional and verified handyman service.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-warning">BOOK NOW</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


<!--EXTRA INFORMATION-->
<!--CAROUSEL AND LANDING PAGE GREETING-->
<div class="container border border-warning my-3">
  <div class="row text-center">
    <div class="col-md-6 my-2 d-flex flex-column justify-content-center align-items-center">
          <h2>Welcome to RPServices!</h1>
          <h4>The best place to get maids online in India</h4>
          <h6>#1 HOME CLEANING SERVICE</h6>
          <button type="button" class="btn btn-warning">Book Now</button>
    </div>
    <div class="col-md-6 my-2">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/image.jpg" class="d-block w-100" alt="carousel image 1">
          </div>
          <div class="carousel-item">
            <img src="/images/image1.jpg" class="d-block w-100" alt="carousel image 2">
          </div>
          <div class="carousel-item">
            <img src="/images/image2.jpg" class="d-block w-100" alt="carousel image 3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--CREATE ADMIN FORM
<form action="/admin/new" method="POST">
  <button>Submit</button>
</form>
-->
<!--FOOTER-->
<%- include("partials/footer.ejs") %>
