<!--HEADER-->
<%- include("partials/header.ejs") %>

    <!-- FORM TO ORDER PROFESSIONALS -->
        <div class="container">
            <div class="card border border-warning my-4 cardcss">
                <div class="card-header text-dark bg-warning">
                <h5>Order Here</h5>    
                </div>
                <div class="card-body">
                    <form action="/orders" method="POST">
                        <!-- TO ACCEPT NAME -->
                        <div class="mb-3">
                            <input type="text" name="name" class="form-control border border-warning" placeholder="Enter Full Name" required>
                        </div>                        
                        <!-- SELECT SCHEDULE OF WORK -->
                        <div class="mb-3">
                            <select name="frequency" class="form-select border border-warning" aria-label="Select Frequency">
                                <option value="Not selected">Select Frequency</option>
                                <option value="One time">One-time</option>
                                <option value="Bi weekly">Bi-Weekly</option>
                                <option value="weekly">Weekly</option>
                            </select>
                        </div>
                        <!-- TO SELECT TIME PERIOD OF WORK -->
                        <div class="mb-3">
                            <select name="jobType" class="form-select border border-warning" aria-label="hours of work">
                                <option value="Not selected">Select Type of job</option>
                                <option value="Part time 8am to 2pm">Part time (8am to 2pm)</option>
                                <option value="Part time 10am to 6pm">Part time (10am to 6pm)</option>
                                <option value="Part time 8am to 8pm">Full time (8am to 8pm)</option>
                            </select>
                        </div>
                        <!-- TO SELECT NUMBER OF SERVENTS FOR WORK -->
                        <div class="mb-3">
                            <select name="professionals" class="form-select border border-warning" aria-label="Professionals Required">
                                <option value="1">Select Required Professionals</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>  
                        <!-- FOR CHECKING AVAILABILITY OF MATERIAL -->
                        <div class="mb-3 border-warning border-bottom">
                            <label class="form-label">Do you need cleaning material ?</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="material" value="Not needed" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                  No, I have
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="material"value="Needed" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Yes please
                                </label>
                            </div>
                        </div>
                        <!-- TO CHOOSE PROFESSIONALS -->
                        <div class="mb-3 border-warning border-bottom">
                            <label class="form-label">Choose Professional</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="staff[]" value="abc" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  abc
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="staff[]" value="ddd" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  ddd
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="staff[]" value="fff" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  fff
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="staff[]" value="ggg" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  ggg
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="staff[]" value="jjj" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  jjj
                                </label>
                            </div>
                        </div>
                        <!-- TO CHOOSE DATE AND TIME TO START WORK -->
                        <div class="mb-3">
                            <label class="form-label">Select date-time to start work</label><br>
                            <input type="datetime-local" name="datetime" class="form-control border border-warning" required>
                        </div> 
                        <!-- TO ACCEPT ADDRESS -->
                        <div class="mb-3">
                            <input type="text" name="address" class="form-control border border-warning" placeholder="Enter Your Address" required>
                        </div> 
                        <div class="mb-3">
                            <input type="tel" name="mobile" class="form-control border border-warning" placeholder="Enter Mobile Number" required>
                        </div>     
                        <div class="d-grid gap-2 col-6 mx-auto my-3">
                            <button type="submit" class="btn btn-block btn-warning">Submit Order</button>
                        </div> 
                    </form>
                </div>
              </div>
        </div>

<!--FOOTER-->
<%- include("partials/footer.ejs") %>