<!--HEADER-->
<%- include("partials/header.ejs") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="/images/pay.jpeg" alt="Login page img">
    </div>
    <div class="col-md-6 border border-warning">
      <div class="text-center p-3">
        <img class="img-fluid" src="/images/upiapps.png" alt="Login page img">

        <h2>Amount to be paid: <b><%= Total%></b></h2>

        <p>You can scan the QR CODE form any UPI app and pay.<p>

        <p>Once payment is successful, click on the button below and
          wait for confirmation call from RPServices.
        </p>

        <a href="/" class="btn btn-warning my-2">Paid</a>
      </div>
    </div>
  </div>
</div>

<!--FOOTER-->
<%- include("partials/footer.ejs") %>