<!--HEADER-->
<%- include("partials/header.ejs") %>

<!--CONTENT-->
<div class="container mt-5 border border-warning">
    <div class="p-4">
        <!--USER PROFILE PICTURE AND NAME-->
        <div class="d-flex justify-content-center">
            <div class="text-center card" style="width: 18rem;">
                <img src="/images/user profile picture.jpg" class="card-img-top" alt="user profile picture">
                <div class="card-body">
                    <p class="card-text">John Smith</p>
                </div>
            </div>
        </div>
        
        <!--USER INFORMATION-->
        <div class="border border-warning my-3 text-center">
            <h5>Name</h5>
            <p>John Smith</p>
            <h5>Email</h5>
            <p>johnsmith89@gmail.com</p>
            <h5>Phone</h5>
            <p>5634897525</p>
            <h5>Address</h5>
            <p>Apartment 89, 46th Street, New york city, New york, USA.</p>
        </div>
    </div>
</div>


<!--FOOTER-->
<%- include("partials/footer.ejs") %>