html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

/* Responsive table */
table{
  overflow: hidden;
}
td{
  overflow: hidden;
}

/* Fixing logo size*/
.logo{
  max-width: 80px;
  max-height: 70px;
}

.footer {
  margin-top: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

  /* order-form page alignment */
  .cardcss{
    margin-top: 40px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

 