html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height*/ 
    margin-bottom: 60px;
  }
  .card{
    margin-top: 40px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    margin-top: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 48px;
    background-color: #f5f5f5;
  }