html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Responsive table */
table{
  overflow: hidden;
}
td{
  overflow: hidden;
}

/* Fixing logo size*/
.logo{
  max-width: 80px;
  max-height: 70px;
}

.footer {
  margin-top: 12px;
  border-top:1px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 48px;
  background-color: #f5f5f5;
}

  /* order-form page alignment */
  .cardcss{
    margin-top: 40px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

 